body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }
  
  li {
    list-style: none;
  }

h1 {
    font-size: 48px;
}

  .content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .image-box {
    grid-column: 1;
    width: auto;
    height: auto;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .image-box img {
    width: 100%;
    height: 100%;
  }
  
  .features {
    grid-column: 2;
    padding: 2em;
  }
  
  .features ul {
    margin: 0;
    padding: 0;
  }
  
  .features li {
    margin-bottom: 10px;
  }
  
  .features li:before {
    content: "\2713";
    margin-right: 10px;
    color: #666;
  }

  .wip {
    padding: 2em;
    grid-column: 2;
  }
  
  .wip li {
    margin-bottom: 10px;
  }
  
  .wip li:before {
    content: "\2715";
    margin-right: 10px;
    color: #666;
  }
  
  footer {
    background-color: #4b4b4b;
    color: #fff;
    padding: 1.8em;
    text-align: center;
  }
  
  .social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .social-links a {
    color: #fff;
    text-decoration: none;
  }

  .social-links:hover {
    transform: scale(1.5);
  }
 